@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow: hidden; /* Perfect for 3D fullscreen */
}

html, body, #root, main {
  height: 100%;
  width: 100%;
}
